<!--  <section class="sample-app-content">
    <h1>Template-driven Form Example (with one-way data binding):</h1>
    <form #myForm="ngForm" (ngSubmit)="onSubmitTemplateBased(myForm.value)">
        <p>
            <label>First Name:</label>
            <input type="text"  
                [ngModel]="user.firstName" required>
        </p>
        <p>
            <label>Password:</label>
            <input type="password"  
                [ngModel]="user.password" required>
        </p>
        <p>
            <button type="submit" [disabled]="!myForm.valid">Submit</button>
        </p>
    </form>
</section> -->
<!-- <h1>{{ greeting }}</h1>
<p>The answer to everything is {{ count }}</p>
<p>This is a {{ getDynamicValue() }}</p> -->
<!-- <input [placeholder]="helloWorld">
<input [value]="title">
<input [(ngModel)]="username">
<pre>username</pre>
{[]}  -->
<!-- <input [(ngModel)]="username" [ariaPlaceholder]="username">
<p>username is {{username}}</p>
<div [ngStyle]="{ 'font-size.px': fontSize }">Dynamic Font Size</div>
<div *ngIf="isCondition; else elseBlock">
    <p>The condition is true. This content is displayed.</p>
</div>
<ng-template #elseBlock>
    <p>The condition is false. This content is displayed instead.</p>
  </ng-template> -->

  <!-- <app-pokemon-tab [item]="data" [item2]="data2"></app-pokemon-tab> -->
  <!-- <button (click)="updatechild()">update c c</button>
  <h1>{{title}}</h1> -->
  <h2>{{forParent}}</h2>
  <app-pokemon-tab ></app-pokemon-tab>
  <!-- (updatedName)="GetData($event)" -->

